<div class="auth-container">
  <div class="auth-box">
    <div class="auth-header">
      <%= link_to "Travalytics", root_path, class: "auth-logo" %>
      <h1 class="auth-title">Welcome back</h1>
      <p class="auth-subtitle">Sign in to your account</p>
    </div>

    <% if flash[:alert] %>
      <div class="flash-message flash-alert">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <% if flash[:notice] %>
      <div class="flash-message flash-notice">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= form_with url: session_path, class: "auth-form" do |form| %>
      <div class="field">
        <%= form.email_field :email_address, 
                            required: true, 
                            autofocus: true, 
                            autocomplete: "username", 
                            placeholder: "Email address", 
                            value: params[:email_address] %>
      </div>

      <div class="field">
        <%= form.password_field :password, 
                               required: true, 
                               autocomplete: "current-password", 
                               placeholder: "Password", 
                               maxlength: 72 %>
      </div>

      <%= form.submit "Sign in" %>
    <% end %>

    <div class="auth-links">
      <%= link_to "Forgot password?", new_password_path %>
    </div>

    <div class="auth-divider">
      Don't have an account?
    </div>

    <div class="auth-links">
      <%= link_to "Sign up", new_user_path %>
    </div>
  </div>
</div>
