<div class="container">
  <div class="page-header">
    <div>
      <h1 class="page-title">Sites</h1>
      <p class="page-subtitle">Manage your tracked websites</p>
    </div>
    <div>
      <%= link_to "Add Site", new_site_path, class: "btn btn-primary" %>
    </div>
  </div>

  <% if @sites.any? %>
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Domain</th>
            <th>Tracking ID</th>
            <th>Created</th>
            <th style="width: 200px;">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @sites.each do |site| %>
            <tr>
              <td style="font-weight: 500;"><%= site.name %></td>
              <td><%= site.domain %></td>
              <td><code class="code"><%= site.tracking_id %></code></td>
              <td><%= format_date(site.created_at) %></td>
              <td style="text-align: right;">
                <%= link_to "View", site, class: "btn-link", style: "margin-right: 1rem;" %>
                <%= link_to "Edit", edit_site_path(site), class: "btn-link", style: "margin-right: 1rem;" %>
                <%= link_to "Delete", site, method: :delete, data: { confirm: "Are you sure?" }, class: "btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="empty-state">
      <p>No sites added yet</p>
      <%= link_to "Add your first site", new_site_path, class: "btn btn-light", style: "margin-top: 0.5rem;" %>
    </div>
  <% end %>
</div>